<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
<display-name>SemiPro</display-name> 
<welcome-file-list>
<welcome-file>product/Main.do</welcome-file> 
<!-- 프로젝트 실행 시 가장 먼저 실행시킬 파일을 설정
우리는 모든 상품 정보를 담고 있는 Main.jsp가 필요하기 때문에 product 서블릿의 Main.do를 실행 -->
</welcome-file-list>
</web-app>