@charset "UTF-8";

/* 레이아웃의 큰 틀이 되는 body의 css */
	body{
		text-align : center; 
		width : 100%;
		margin : 0;
		background-color : #f1f3f5;
	}
	
	/* body위에 덮을 div의 css */
	#wrapper{
		width : 100%;
		text-align : left;
		min-height : 400px;
		margin : 0 auto;
		float: left;
	}
	
	/* 헤더, 네비게이션, 섹션, aside의 공통적인 css */
	header, nav, section, aside{
		border : 1px solid #999;
		margin-bottom : 20px;
	}
	
	/* header의 css */
	header{
		width : 80%; /* wrapper와 너비가 같게 */
		background-color : #ced4da;
		text-align : center;
		font-size : 50pt;
		height : 100px;
		margin-left : 10%;
		margin-right : 10%;
	}
	
	/* 네비게이션의 css */
	nav{
		border : 1px solid #999;
		width : 80%;
		height : 40px;
		vertical-align : middle;
		margin-left : 10%;
		margin-right : 10%;
	}
	
	 /* 주 메뉴의 css */
    #menu{
        list-style : none;
        margin : 0;
        overflow : hidden;
        padding : 0;
        height : 100%;
    }
    
    #menu_li{
	    float : left;
	    width : 25%;
	    height : 100%;
    }
    
    #menu_li button{
    	width : 100%;
   		background-color : #E5E4E2; 
    	display : block;
    	padding : 5px;
    	text-align : center;
    	height : 100%;
    }
    
    #menu_li button:hover{/* 해당 메뉴에 마우스 올려두고 있을 때 */
    	background-color : #BCC6CC;
    	color : white;
    }
	
	#quickmenu{
		border : 1px solid #999;
		width : 100px;
		position : absolute; 
		top : 180px; 
		right : 1%; 
	}
	
	#quickmenu button:hover{
		background-color : #BCC6CC;
    	color : white;
	}
	
	aside{
		background-color : white;
		margin-left : 10%;
		width : 9%;
		float : left;
		min-height : 200px;
	}
	
	li{
		display : block;
	}
	
	li a{
		text-decoration : none;
		color : black;
	}
	
	li a:hover{
		background-color : #D1D0CE;
	}
	
	/* 주 내용이 들어갈 section의 css */
	section{
		width : 70%;
		float : left;
		margin-left : 1%;
		min-height : 500px;
	}
	
	/* 그림자 css */
	.shadow{
		text-shadow : 5px 7px 10px gray;
	}
    
    table,th,tr,td{
    	border: 1px solid #444444;
    }
       
   	table{
   		margin-left : 5%;
   		width : 90%;
   		border-collapse : collapse;
   		border: 1px solid #444444;
   	}