@charset "UTF-8";
	/*배경에 대한 설정*/
	body{
		text-align : center; 
		width : 100%;
		margin : 0;
		background-color : #f1f3f5;
	}
	
	/*<body>위에 덮어 씌울 것들의 설정*/
	#wrapper{
		width : 100%;
		text-align : left;
		min-height : 200px;
		margin : 0 auto;
		float: left;
	}
	
	#wrapper header{
		font-weight : bold;
	}
	
	/*로그인/회원가입 버튼의 css*/
	#btn1 {
		float : right;
		border: none;
		outline: none;
		font-size: 0.9vw;
		color: #393E46;
		cursor: pointer;
		box-sizing: border-box;
		background-color:transparent;
	}

	
	/* 맨위에 뜰 로고?의 css */
	header{
		color : #393E46;
		border : 0;
		border-radius: 20px;
		margin-top : 20px;
		margin-bottom : 20px;
		width : 80%; /* wrapper와 너비가 같게 */
		background-color : #ced4da;
		text-align : center;
		line-height : 100pt;
		font-size : 50pt;
		height : 150px;
		margin-left : 10%;
		margin-right : 10%;
	}
	
	
	
	/*입력 메뉴의 css*/
	#product_input{
		width : 13%;
		position : absolute;
		top : 180px; 
		right : 10%;
	}
  	
  	/*입력 테이블의 공통 css*/
  	#input_table{
  		color : #393E46;
  		text-align : left;
  	}
  	
  	#input_table a{
  	  	text-align : center;
  		font-size : 30px;
  		font-weight: bold;
		list-style : none;
  	}
  	
  	.input_tb{
  		width : 100%;
		font-size : 20px;
		margin:auto;
		color:#2f3858;
		background-color : #f9f7f7;
		border : 3px solid #393E46;
		border-radius : 20px;
  	}
 
  		/*행 열 테두리 설정 css*/
	.input_tb td{
		width:200px;
		padding : 10px;
	}
  	
  	#obj_name, #obj_amount{
  		width: 60%;
		height: 32px;
		font-size: 15px;
		border: 0;
		border-radius: 15px;
		outline: none;
		padding-left: 10px;
		background-color: rgb(233, 233, 233);
  	}
  	
  	#obj_kind {
  		width: 37%;
		height: 32px;
		font-size: 0.8vw;
		border: 0;
		border-radius: 15px;
		outline: none;
		padding-left: 10px;
		background-color: rgb(233, 233, 233);
	}
	
	#obj_date {
  		width: 55%;
		height: 32px;
		font-size: 0.8vw;
		border: 0;
		border-radius: 15px;
		outline: none;
		padding-left: 10px;
		background-color: rgb(233, 233, 233);
	}


  	/* label 스타일 조정 */
	#product_input .filelabel {
		padding : 0% 5%;
		border : 0.5px solid #393E46;
		border-radius : 10px;
	    cursor: pointer;
		text-align : center;
	    font-size: 1vw;
	    background-color: rgb(233, 233, 233);
	}
	
	/* 못생긴 기존 input 숨기기 */
	#obj_img {
	    display:none;
	}
  	
  	#btn2 {
  		width : 30%;
  		text-align : center;
		border: 2px solid #393E46;
		border-radius : 15px;
		outline: none;
		font-size: 0.9vw;
		background-color: #393E46;
		color: white;
		cursor: pointer;
		box-sizing: border-box;
	}
	
	#product_input .label{
  		width:100%;
  		color:#fff;
  		display:block;
  		color:#aaa;
  		font-size:12px;
  		height:15px;
  		border-radius:2px;
  		position:relative;
  		display:inline-block;
  		background:rgba(255,255,255,.1);
	}
	
	

	
	/*내역 테이블의 글씨 설정 css*/
	#productor_list{
		color : #393E46;
		text-align : center;
		width:60%;
		float:left;
		margin-left : 10%;
	}
	
	/*납품 테이블 위 글씨 css*/
	#productor_list a{
		font-size : 50px;
		list-style : none;
	}
	
	/*납품 테이블의 공통css*/
	.list_tb{
		width : 100%;
		font-size : 30px;
		margin:auto;
		border-collapse : collapse;
	}
	
	/*행 열 테두리 설정 css*/
	.list_tb td, th{
		border-bottom : 1px solid #393E46;
		padding : 10px 5px;
		
	}
	.list_tb th{
		border-top : 5px solid #393E46;
	}

 
  	
  	